<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>MT API документация</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body class="container">
  <div>
    <header>
      <h1>MT API документация</h1>
    </header>

    <div class="row">
      <div class="col-md-12">
      	<ul class="nav nav-pills nav-stacked">
      	  {% for i in releases %}
            <li><a href="{{ i.link }}">{{ i.text }}</a></li>
          {% endfor %}
      	</ul>
      </div>
    </div>
    

    <footer class="footer">
     <p>&copy; Системные Технологии <a href="http://www.sys4tec.com/">www.sys4tec.com</a></p>
    </footer>
  </div>
</body>
</html>
